*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --main-color:#ffa500;
    --second-color:#f9f9f9;
    --transition: 0.3s;
}
/*start navbar*/
.logo{
    width:120px;
}
.navbar-nav .nav-link{
    color:#000 !important ;
    font-size: 17px;
    font-weight: 600;
    transition: var(--transition);
}
.navbar-nav .nav-link:hover{
    background-color: var(--main-color);
    color:#fff !important;
    border-radius: 3px;
}
form .btn{
    border:2px solid var(--main-color);
}
form .btn:hover{
    background-color: var(--main-color);
    color:#fff;
}
/*end navbar*/

/*start swiper*/
.carousel-inner .carousel-item img{
    height: 100vh;
    object-fit: cover;
}
.carousel-inner .carousel-caption{
    background-color: var(--main-color);
    border-radius: 10px;
    color:var(--second-color) !important;
}
.carousel-inner .carousel-caption h3{
    text-transform: uppercase;
}

/*end swiper*/

/*start social icons*/
.social-media-icons{
    position: fixed;
    top:40%;
    right: 2%;
    display: flex;
    flex-direction: column;
}
.social-media-icons i{
    font-size: 32px;
    cursor: pointer;
    color: var(--main-color);
    opacity:0.6;
    transition: var(--transition);
}
.social-media-icons i:hover{
    opacity:1;
}
/*end social icons*/

/*start section 3*/
.main-title{
    color: var(--main-color);
    font-size: 35px ;
}
.destination .box{
    overflow: hidden;
    box-shadow: 0 0 2px rgb(0, 0, 0.06);
}
.destination .box img{
    cursor: pointer;
    transition: var(--transition);
    object-fit: cover;
    width: 100%;
    height: 250px;
}
.destination .box img:hover{
    transform :scale(1.1);
}
.destination .box .box-text{
    padding: 10px;
}
.destination .box .box-text h4{
    color:var(--main-color) ;
    font-size: 25px;
    font-weight: 600px;
    margin-top: 7px;
}
.destination .box .box-text p{
    color:#777;
    line-height: 2;
}
.destination .box .box-text .btn{
    border: 2px solid var(--main-color);
}
.destination .box .box-text .btn:hover{
    background-color: var(--main-color);
    color: var(--second-color);
}
/*end section 3*/

/*start section 4 thanks for*/
.wrapper{
    position: relative;
}
.wrapper .text-thanks{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
    transition:var(--transition)
}
.wrapper .text-thanks:hover{
    opacity: 1;
}
.overlay{
    background-color: #f3bb53;
    color:#fff;
    position: absolute;
    top:0; /*because btnzel from top*/
    left:0;
    height:0;
    width:100%; /*whole wodth of box*/
    cursor:pointer;
    transition: var(--transition);
}

.wrapper:hover .overlay{
    height:100%;
}
/*end section 4 thanks for*/

/*start section 5 News*/
.news .row{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.wrapper-card{
    background-color: var(--second-color);
    box-shadow: 2px 3px 10px rgb(0,0,0.06);
    border-radius: 15px;  
    align-items: stretch; /* makes both sides equal height */ 
}
.card-info{
    flex: 1;         /* take the remaining space */
    padding: 20px;
}
.card-info h2{
    color:var(--main-color);
    font-size: 40px ;
    font-weight: 400;
}
.card-info span{
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
    align-items: center;
}
.card-info i{
    display: block;
    margin-right: 5px;
}
.card-info p{
    color:#777;
    line-height: 1.8;
}
.card-info .control{
    display: flex;
    align-items: center;
    gap:15px;
}
.control .control-box{
    background-color: #ccc;
    padding:4px;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    align-items: center;
    gap: 5px;
}
.control .control-box:hover{
    background-color: var(--main-color);
    color: #fff;
}

.wrapper-card img{
    clip-path: polygon(24% 0, 100% 0%, 100% 100%, 5% 100%);
    object-fit: cover;
    max-width: 100%;
    border-radius: 15px;
    flex: 0 0 50%;   /* fixed width portion for the image (50% of card) */
    height: 100%;   /* fill the card height */
}

.wrapper-card .special{
    clip-path: polygon(0 0, 65% 0, 90% 100%, 0% 100%);

}
/*end section 5 News*/

/*start section 6 join us*/
.social-box{
    background-color: var(--second-color);
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 2px 0 6px rgb(0, 0, 0.06);
    cursor: pointer;
    transition: var(--transition);
}
.social-box:hover{
    transform: translateY(-5px);
}
.social-box h4{
    color:var(--main-color);
    margin-bottom: 10px;
}
.social-box a{
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
}
/*end section 6 join us*/
/*start footer*/
.footer {
    background: var(--second-color);
    padding: 40px 0;
    border-top: 1px solid var(--second-color);
}
.footer h5 {
    margin-bottom: 15px;
    color:var(--main-color);
    font-size: 25px;
}
.footer p, .footer li {
    font-size: 15px;
    margin-bottom: 8px;
    color: #333;
    cursor: pointer;
}
.footer p:hover, .footer li:hover {
    text-decoration: underline;
}
.footer img {
    width: 60%;
    margin-bottom: 15px;   
}
.footer ul {
    list-style: none;
    padding: 0;
}
/*end footer*/
@media (max-width:992px){
    .social-media-icons{
        display: none;
    }
    .wrapper-card{
        flex-direction: column;
    }
    .wrapper-card img{
        clip-path: none !important;
        overflow: hidden;
        border-radius: 0 0 15px 15px; 
    }
    .wrapper-card .special{
        border-radius: 15px 15px 0 0 ;
    }
    .control-box{
        font-size: 15px;
    }
    .thanks .row{
        display: flex;
        gap:20px;
    }
    .join .row{
        display: flex;
        gap:20px;
    }
}